@import '../mixins.scss';

button{
    border: none;
}

.department-back-button{
    @include back-button;

    .department-text{
        margin: 0;
    }
}

.department-form{
    @include form;
}

.addition-form{
    @include addition-form;
}

.addition-form-container{
    @include addition-form-container;
}

.form-button{
    @include form-button;
}

.form-button--active{
    @include form-animation--active;
}

.form-button--inactive{
    @include form-animation--inactive;
}

.department-header{
    @include header;
}

.department-container{
    @include center-container;
}

.item-container{
    @include ballmenu-container;
}

.input-container{
    @include input-container;
}

.department{
    @include ball;
    width: 200px;

    .department-text{
        margin: 0;
    }
}

.menu{
    @include menu;
}

.department-nav{
    @include page-nav;

    .arrow-first, .arrow-last{
        @include arrow;

        &::after{
            background-image: url('../../assets/icons/fast-forward.svg');
        }
    }

    .arrow-left, .arrow-right{
        @include arrow;

        &::after{
            background-image: url('../../assets/icons/arrow.svg');
        }
    }

    .arrow-left, .arrow-first{
        rotate: 180deg;
    }
}

.edit-department-form{
    display: none;
}

.delete-form{
    display: none;
}

.show{
    visibility: visible;
}

.display{
    display: grid;
}

.display-flex{
    display: flex;
}