@import '../mixins.scss';

button{
    border: none;
}

.user-back-button{
    @include back-button;

    .user-text{
        margin: 0;
    }
}

.user-form{
    @include form;
}

.addition-form{
    @include addition-form;
}

.addition-form-container{
    @include addition-form-container;
}

.form-button{
    @include form-button;
}

.form-button--active{
    @include form-animation--active;
}

.form-button--inactive{
    @include form-animation--inactive;
}

.user-header{
    @include header;
}

.user-container{
    @include center-container;
}

.item-container{
    @include ballmenu-container;
}

.input-container{
    @include input-container;
}

.user{
    @include ball;

    .user-text{
        margin: 0;
    }
}

.menu{
    @include menu;

    grid-template-columns: auto auto;
}

.user-nav{
    @include page-nav;

    .arrow-first, .arrow-last{
        @include arrow;

        &::after{
            background-image: url('../../assets/icons/fast-forward.svg');
        }
    }

    .arrow-left, .arrow-right{
        @include arrow;

        &::after{
            background-image: url('../../assets/icons/arrow.svg');
        }
    }

    .arrow-left, .arrow-first{
        rotate: 180deg;
    }
}

.edit-user-form{
    display: none;
}

.delete-form{
    display: none;
}

.show{
    display: grid;
}

.show-menu{
    display: flex;
}