@import '../mixins.scss';

button{
    border: none;
}

.directorate-form{
    @include form;
}

.addition-form{
    @include addition-form;
}

.addition-form-container{
    @include addition-form-container;
}

.form-button{
    @include form-button;
}

.form-button--active{
    @include form-animation--active;
}

.form-button--inactive{
    @include form-animation--inactive;
}

.director-form, .edit-directorate-form{
    display: none;
}

.directorate-header{
    @include header;
}

.directorate-container{
    @include center-container;

    top: 69%;
}

.item-container{
    @include ballmenu-container;
}

.directorate{
    @include ball;
    width: 250px;

    .directorate-text{
        margin: 0;
    }
}

.menu{
    @include menu;
}

.directorate-nav{
    @include page-nav;

    .arrow-first, .arrow-last{
        @include arrow;

        &::after{
            background-image: url('../../assets/icons/fast-forward.svg');
        }
    }

    .arrow-left, .arrow-right{
        @include arrow;

        &::after{
            background-image: url('../../assets/icons/arrow.svg');
        }
    }

    .arrow-left, .arrow-first{
        rotate: 180deg;
    }
}

.unblock-confirmation{
    display: none;
    left: unset;
    transform: unset;
    position: absolute;
}

.delete-form{
    display: none;
}

.display-flex{
    display: flex;
}

.display{
    display: grid;
}

.hidden{
    display: none;
}

.input-container{
    @include input-container;
}